.media {
  width: 200px;
}
.media a img {
  width: 100%;
  height: 100%;
}

@media all and (max-width: 420px) {
  .media {
    width: 150px;
  }
  .media a img {
    height: auto;
  }
}

@media all and (max-width: 390px) {
  .media {
    width: 145px;
  }
  .media a img {
    height: auto;
  }
}

@media all and (max-width: 360px) {
  .media {
    width: 140px;
  }
  .media a img {
    height: auto;
  }
}
