@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
* {
  font-family: poppins, serif;
  box-sizing: border-box;
}
.section {
  text-align: center;
  background: #efeeee;
}

.s1 h1 {
  font-size: 3em;
  margin: 0;
}

.s1 h2 {
  font-size: 1.3em;
  margin: 0;
}

.s1 {
  background: url("../../assets/background1.jpg") !important;
  background-size: cover !important;
}

.s1::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
}

.innerContent {
  width: 80%;
  margin: auto;
}

.innerContent h1 {
  font-size: 3em;
  margin: 0.4em 0;
}

.imageContainer {
  width: 200px;
  height: 200px;
  margin: auto;
}

.innerContent .imageContainer img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
  box-shadow: 6px 6px 20px 4px #101010;
}

.description .inner-heading {
  text-align: left;
  font-size: 2.8em;
  opacity: 0.8;
  margin: 0.5em 0 0.3em;
}

.description .para {
  font-size: 1.2em;
  color: #3b4250;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 1.6em;
  text-align: left;
}

#fp-nav ul li a span {
  background: #000 !important;
}

#fp-nav ul li .fp-right {
  color: #000 !important;
}

.innerContent--skills {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.innerContent--skills .wrapper p {
  text-align: left;
  font-size: 1.4em;
  padding: 1em;
  margin: 0;
}

.skills--section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.social-media-symbols {
  display: flex;
  justify-content: space-between;
}

.innerContent--social {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.innerContent--social h1 {
  font-size: 3em;
  margin: 0.4em 0;
}

/* to make footer stick to bottom */
.s5 .fp-tableCell {
  vertical-align: bottom !important;
}

.innerContent--contact-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70vh;
}

.innerContent--contact {
  width: 80%;
  margin: 2em auto;
}
.innerContent--contact h1 {
  margin: 0;
}

.contact-mailing {
  padding-top: 1em;
  width: auto;
}

.innerContent--footer {
  width: 100%;
}

@media all and (max-width: 420px) {
  /* s1 section */
  .s1 h1 {
    font-size: 3em;
  }
  .s1 h2 {
    font-size: 1.5em;
    width: 60%;
    margin: auto;
  }

  /* s2 section */
  .s2 .innerContent h1 {
    font-size: 2.4em;
    margin-top: 0;
  }

  .s2 .innerContent .imageContainer {
    width: 130px;
    height: 130px;
  }

  .s2 .innerContent .description .inner-heading {
    font-size: 1.6em;
    margin-bottom: 0;
  }

  .s2 .innerContent .description .para {
    font-size: 1em;
    text-align: justify;
    margin-top: 0.2em;
    margin-bottom: 0.4em;
  }
  .s2 .innerContent .description .para:last-child {
    margin-bottom: 1em;
  }

  .s3 {
    display: flex;
    align-items: stretch;
  }

  .s3 .innerContent--skills {
    padding: 0;
  }
  .s3 .innerContent--skills .wrapper h1 {
    font-size: 2.4em;
    margin: 0;
  }
  .s3 .innerContent--skills .wrapper p {
    font-size: 1.1em;
  }
  .s4 .innerContent--social h1 {
    font-size: 2.4em;
  }
  .social-media-symbols {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .innerContent--contact-footer {
    height: 80vh;
  }
  .innerContent--contact h1 {
    font-size: 2.4em;
  }
}

@media all and (max-width: 390px) {
  /* s1 section */
  .s1 h1 {
    font-size: 2.8em;
  }
  .s1 h2 {
    font-size: 1.4em;
    width: 60%;
    margin: auto;
  }

  /* s2 section */
  .s2 .innerContent h1 {
    font-size: 2.2em;
    margin-top: 0;
  }
  .s2 .innerContent .imageContainer {
    width: 130px;
    height: 130px;
  }
  .s2 .innerContent .description .inner-heading {
    font-size: 1.4em;
    margin-bottom: 0;
  }
  .s2 .innerContent .description .para {
    font-size: 0.9em;
    text-align: justify;
    margin-top: 0.2em;
    margin-bottom: 0.4em;
  }
  .s2 .innerContent .description .para:last-child {
    margin-bottom: 1em;
  }
  .s3 .innerContent--skills .wrapper h1 {
    font-size: 2.2em;
    margin: 0;
  }
  .s3 .innerContent--skills {
    padding: 0;
  }
  .s3 .innerContent--skills .wrapper p {
    font-size: 1.1em;
    margin: 0;
  }
  .s4 .innerContent--social h1 {
    font-size: 2.2em;
  }
  .social-media-symbols {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .innerContent--contact-footer {
    height: 85vh;
  }
  .innerContent--contact h1 {
    font-size: 2.2em;
  }
}

@media all and (max-width: 360px) {
  /* s1 section */
  .s1 h1 {
    font-size: 2.6em;
  }
  .s1 h2 {
    font-size: 1.3em;
    width: 60%;
    margin: auto;
  }

  /* s2 section */
  .s2 .innerContent h1 {
    font-size: 2em;
    margin-bottom: 0.2em;
  }
  .s2 .innerContent .imageContainer {
    width: 115px;
    height: 115px;
  }
  .s2 .innerContent .description .inner-heading {
    font-size: 1.3em;
  }
  .s2 .innerContent .description .para {
    font-size: 0.9em;
    text-align: justify;
    margin-top: 0.2em;
    margin-bottom: 0.4em;
  }
  .s2 .innerContent .description .para:last-child {
    margin-bottom: 1em;
  }
  .s3 .innerContent--skills h1 {
    font-size: 2em;
    margin-bottom: 0;
  }
  .s3 .innerContent--skills {
    height: auto;
  }
  .s3 .innerContent--skills .wrapper p {
    font-size: 1.1em;
    margin: 0;
  }
  .s3 .innerContent--skills .wrapper h1 {
    font-size: 2em;
    margin: 0;
  }
  .s4 .innerContent--social h1 {
    font-size: 2em;
  }
  .social-media-symbols {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .innerContent--contact-footer {
    height: 85vh;
  }
  .innerContent--contact h1 {
    font-size: 2em;
  }
}
