footer {
  background-color: black;
}

.footer-flex p {
  color: #efeeee;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 1.2em;
}

.footer-flex p a {
  text-decoration: none;
  color: skyblue;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  padding: 1em;
}

@media all and (max-width: 420px) {
  .footer-flex {
    display: block;
    padding: 1em 1em 3em;
  }
}
@media all and (max-width: 360px) {
  .footer-flex {
    display: block;
    padding: 1em 1em 3em;
  }
  .footer-flex p {
    font-size: 1.1em;
  }
}
